%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{erl_opts, [warnings_as_errors,
            {parse_transform, lager_transform},
            {platform_define, "R15", 'sha_workaround'}
           ]}.
{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [verbose]}.

{require_otp_vsn, "R15|R16"}.
{clean_files, ["*~","*/*~","*/*.xfm","test/*.beam"]}.

{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git",
                  {branch, "master"}}},

    {gproc, ".*", {git, "git://github.com/uwiger/gproc.git",
                  {branch, "master"}}},

    {econfig, ".*", {git, "https://github.com/benoitc/econfig.git",
                     {branch, "master"}}},

    {cowboy, ".*", {git, "git://github.com/refuge/cowboy.git",
                   {branch, "fix/mp-chunked"}}},

    {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git",
                {branch, "master"}}},

    {coffercli, ".*", {git, "git://github.com/refuge/coffercli.git",
                      {branch, "master"}}},

    {coffer_dashboard, ".*", {git, "git://github.com/refuge/coffer_dashboard.git",
                      {branch, "master"}}}
]}.

