.container {
    padding-left: 30px;
    padding-right: 30px;
}

h4 {
    margin-top: 25px;
}

.row {
    margin-bottom: 5px;
    border-top: 1px solid #ddd;
}

[class*="col-"] {
    padding-top: 5px;
    padding-bottom: 5px;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

div#blobs {
    margin-top: 10px;
}
